/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
nav li a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
nav li a:hover {
	color: #B1663C;
}
/* #introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#introduction .edit-button-container {
	width: 100%;
	display: flex;
	justify-content: center;
  } */

  #introduction {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  #introduction .content {
	flex: 1 1 100%;
	display: flex;
	align-items: center;
  }
  
  #introduction figure {
	flex: 0 0 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5vw;
  }
  
  #introduction img {
	display: block;
	max-width: 100%;
	height: auto;
  }
  
  #introduction article {
	flex: 1 1 100%;
	margin-left: 1em; /* Add some spacing between figure and article */
  }
  
  #introduction h2 {
	margin-bottom: 1em;
  }
  
  #introduction p {
	margin-bottom: 0.5em;
  }
  
  #introduction .edit-button-container {
	flex: 0 0 40%;
	display: flex;
	justify-content: center;
  }  

#portfolio h2 {
	text-align: center;

}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#filter-buttons {
	display: flex;
	justify-content: center; /* Align buttons horizontally at the center */
	margin-bottom: 15px;
}

.filter-button {
	
	background-color: #1D6154;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	margin-right: 8px;
	cursor: pointer;
}

  
.filter-button:hover {
	background-color: #ffffff;
	color: #1D6154;
}

#my-figcaption {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 5px;
}

.filter-button.active {
    background-color: #FFFFFF; /* Change la couleur du bouton quand celui-ci est activé */
    color: #1D6154; /* Change la couleur du texte du bouton quand celui-ci est activé */
	box-shadow: 0 0 0 2px #1D6154; /* Change la couleur du contour du bouton quand celui-ci est activé */
}


.ButtonEdit .edit-button {
	background-color: white;
	color: black;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  .ButtonEdit h2,
  .ButtonEdit .edit-button {
	display: inline-block;
	vertical-align: middle;
  }
  
  .ButtonEdit {
	text-align: center; /* Pour centrer les éléments horizontalement */
  }


/* Add styles for the modal */
.modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent black background */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    max-width: 600px;
	display: grid;
}

.modal-image {
	width: 76.86px;
	height: auto;
}
.modal-content #modalContentTitle #addProjectForm{
	display: flex;
	text-align: center;
}

#addProjectForm {
	text-align: center;
	align-items: center;
}

#projectImage {
	display: none;
}

#AjoutPhoto{
	text-align: center;
	align-items: center;
}

#AjoutPhoto label {
	cursor: pointer;
}

#AjoutPhoto label img {
	width: 100%;
}

#modalContentTitle {
	text-align: center;
}


/* Add a style for the close button (the "x" icon) */
.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#modalImages {
	width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.delete-icon {
	position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
}

.image-container {
	position: relative;
}

.row {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
flex: 1;
width: 100%;
max-width: 100%;
}

#modalImages img {
	width: 100%;
  }
  

  

/* style.css */

/* Style for the modal */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
  }
  
  .modal-content {
	background-color: #fefefe;
	margin: 10% auto; /* 10% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	text-align: center;
  }
  
  /* Style for the form */
  .form-container {
	display: none;
  }
  
  .form-container.active {
	display: block;
  }
  
  .form-container form {
	max-width: 500px;
	margin: 0 auto;
  }
  
  .form-container h2 {
	text-align: center;
  }
  
  .form-container label {
	display: block;
	margin-bottom: 5px;
  }
  
  .form-container input,
  .form-container select,
  .form-container textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  
  .form-container textarea {
	resize: vertical;
  }
  
  .form-container button {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  .form-container button:hover {
	background-color: #45a049;
  }
  
  /* Assuming the form elements are displayed as block elements */
.form-container label,
.form-container input,
.form-container select,
.form-container button {
  display: block;
  margin-bottom: 10px;

}

#addProjectForm {
	display: grid;
}




#addPhotoBtn {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#deleteGalleryBtn {
	background: none;
	color: #d13d23;
	border: 0;
}

body {
	padding-top: 50px;
}
#bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: black;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
#bar #edit {
	color: white;
	cursor: pointer;
	text-decoration: none;
}
#bar #edit:hover {
	font-weight: bold;
}
#bar #publish {
	cursor: pointer;
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 8px 20px;
	border-radius: 20px;
}
#bar #publish:hover {
	font-weight: bold;
}